Auto_concat_video_and_update_sheet/Auto_edit_vids.json
{
  "name": "Auto_edit_vids",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -540,
        -20
      ],
      "id": "50d5e98d-a9c1-4332-a366-cd42b7799f27",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dOYBF8tf3ptL5crBw_JTOm-xkSj9T0ja8czXXh0KFhg",
          "mode": "list",
          "cachedResultName": "Auto_edit_vids",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dOYBF8tf3ptL5crBw_JTOm-xkSj9T0ja8czXXh0KFhg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dOYBF8tf3ptL5crBw_JTOm-xkSj9T0ja8czXXh0KFhg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -320,
        -20
      ],
      "id": "5680b071-32f8-4aef-a099-f113b989b773",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B51HYJ8tm5swCBHU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "814911cb-25d2-482e-87be-10b8f1394f5e",
              "leftValue": "={{ $json['first vids'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "7023bea6-d64c-477f-91f6-29be398a6edc",
              "leftValue": "={{ $json['desired length'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        -20
      ],
      "id": "8eaea558-682f-42be-aaee-4f46dfa48465",
      "name": "If"
    },
    {
      "parameters": {
        "command": "python /scripts/main.py\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        -40
      ],
      "id": "557d8cfe-e04c-4331-9a5a-f5eefcb59ca1",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "909bdac1-8de9-4e18-a435-1b5779f4d89d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a007a16199d3a32f195a514dd623a90eea377b7960d71e88a5bf1b7a2eed5d00"
  },
  "id": "mR1ipccd2xiYlfCW",
  "tags": []
}